/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image2.png);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image4.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./image5.png);
} */
